---
import BaseHead from "../../layouts/BaseHead.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
// 1. Get the slug from the incoming server request
import { getCollection } from "astro:content";
export const prerender = true;

export async function getStaticPaths() {
  const projectEntries = await getCollection("blog");
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<html>
  <head>
    <BaseHead title={entry.data.title} />
    <link rel="stylesheet" href="../src/styles/blog-post.css" />
  </head>
  <body>
    <BaseLayout>
      <BlogLayout frontmatter={entry.data} slot="main-content">
        <Content />
      </BlogLayout>
    </BaseLayout>
  </body>
</html>
