---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { BlogList } from "../../components/blog-list/BlogList";
import BaseHead from "../../layouts/BaseHead.astro";
---

<html>
  <head>
    <BaseHead title="Blog – Dan Engel" />
  </head>
  <body>
    <BaseLayout>
      <div slot="main-content">
        <BlogList client:load />
      </div>
    </BaseLayout>
  </body>
</html>
