.page-wrapper {
  margin-inline-end: 1em;
  p:not(:has(img,video)), h1,h2,h3,h4, date {
    padding-inline-start: 1rem;
  }
  summary, pre {
    padding-inline-start: 0em;
    margin-inline-start: 0em;
  }

  details {
    border-bottom: 4px solid var(--text-1);
    transition: all 1s;
    padding-inline-start: 0em;
    margin-inline-start: 0em;
    padding-block: 0em;
    summary {
      display: flex;
      align-items: center;;
      transition: all 1s;
      font-size: var(--font--sz-200);
      font-weight: initial;
      list-style: none;
      -webkit-list-style:none;
      margin-block:auto;
      text-wrap:pretty;
      &::before {
        content: "⊙";
        display: flex;
        color: violet;
        justify-content: center;
        align-items: center;
        font-size: var(--font--sz-400);
        padding-inline: 1em;
        width: 20px; 
        margin-block-end: 4px;
      }
      &::-webkit-details-marker {
        display: none;
      }
    }
    & > *:not(summary) {
      overflow:none;
      background: var(--surface-2);
      color: var(--surface-1);
      margin: 1em
    }
  }

  details[open] {
    & > *:not(summary) {
      overflow:initial;
      color: unset;
    }
    summary::before {
      color: violet;
      content: '•';
    }
    border-bottom: 4px solid violet
  }

  
  pre{
    border-left: 2em solid var(--surface-2);
  }

  blockquote {
    margin-inline-start: 2rem;
    max-inline-size: initial;
  > p {
    padding-inline-start: 0em;
  }}
}