summary::marker {
  color: blue
}
article { 
  .project-header {
    padding-inline-start: 1rem;
  }
  .project-skills .project-tech {
    display:flex;
    flex-direction: row;

  }
  @media screen and (width > 768px) {
    min-width: 100%;

  };
  @media (width < 768px) {
    max-width: initial;
    & .project-header, .project-summary__wrapper{
      max-width: 100%;
    }
  }
}

.page-content, .page-wrapper {
  p:not(:has(img,video)), h1,h2,h3,h4 {
    padding-inline-start: 1rem;
  }

  blockquote {
    margin-inline-start: 2rem;
  > p {
    padding-inline-start: 0em;
  }}
}

.project-summary__wrapper {
  padding-inline-start: 1em;
  p.company-brief {
    line-height: initial;
  }  
  p {
    font-style: italic;
    line-height: 2em;
  }
  & span {
    line-break:keep-all;
    font-style: initial;
    border: 2px solid var(--text-1);
    border-radius: 10px;
    margin-inline-end: .5em;
    padding-inline:.2em;
    padding-block:.1em
  }
 & > * {
    margin-block-end: 0.7em;
  }
  border-radius: 15px;
  & .project-skills {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  & ul {
    list-style-type: none;
    list-style-position: outside;
    li {
      margin-inline-start: -50px;
    }
  }
}

p {
  max-width: 64ch;
  :has(image) {
    padding-inline-start: 0em;
  }
}