---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import { HeaderNav } from "../components/header-nav/HeaderNav";
import { XCheckbox } from "../components/x-checkbox/XCheckbox";
import BaseHead from "../layouts/BaseHead.astro";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <head>
    <BaseHead title="About" />
  </head>
  <body>
    <HeaderNav client:load />
    <XCheckbox todo-text="Get the about screen" client:idle />
  </body>
</html>
