---
import BaseLayout from "../layouts/BaseLayout.astro";
import { XCheckbox } from "../components/x-checkbox/XCheckbox";
import { DGrid } from "../components/d-grid/DGrid";
import BaseHead from "../layouts/BaseHead.astro";
---

<html>
  <head>
    <BaseHead title="Home – Dan Engel" />
    <link rel="stylesheet" href="../src/styles/index.css" slot="styles" />
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
      }
      #main-content {
        display: grid;
        place-items: center;
        padding: 2em 2em;
        direction: ltr;
      }
      .todos {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <BaseLayout>
      <div slot="main-content" id="main-content">
        <DGrid />
      </div>
    </BaseLayout>
  </body>
</html>
