---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { ProjectList } from "../../components/project-list/ProjectList";
import BaseHead from "../../layouts/BaseHead.astro";
import "../../styles/index.css";
---

<html>
  <head>
    <BaseHead title="Projects – Dan Engel" />
  </head>
  <body>
    <BaseLayout>
      <div slot="main-content">
        <div id="post-grid">
          <ProjectList client:load />
          <span class="titler">
            <span>projects</span>
            <div id="circle"></div>
          </span>
        </div>
      </div>
    </BaseLayout>
    <style>
      #post-grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        height: inherit;
        width: 100%;
        overflow: hidden;
      }
      .titler {
        position: relative;
        justify-self: flex-end;
        text-transform: uppercase;
        font-size: clamp(5em, 10vw + 4em, 22em);
        writing-mode: vertical-lr;
        margin-inline-start: 0em;
        height: inherit;
        height: 100%;
        margin: 0px -30%;
        z-index: 0;
        & span {
          mix-blend-mode: difference;
        }
      }
      #circle {
        filter: blur(20deg) contrast(120);
        background: linear-gradient(
          49.9deg,
          rgb(208, 246, 255) 0.1%,
          rgb(255, 237, 237) 47.9%,
          rgb(255, 255, 231) 100.2%
        );
        height: 550px;
        width: 550px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        left: 20%;
        top: 10%;
        z-index: -1;
      }
    </style>
  </body>
</html>
