---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { ProjectList } from "../../components/project-list/ProjectList";
import BaseHead from "../../layouts/BaseHead.astro";
import "../../styles/index.css";
---

<html>
  <head>
    <BaseHead title="Projects – Dan Engel" />
  </head>
  <body>
    <BaseLayout>
      <div slot="main-content">
        <div id="project-grid">
          <ProjectList client:load />
          <span>
            projects
            <div id="circle"></div>
          </span>
        </div>
      </div>
    </BaseLayout>
    <style>
      #project-grid {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        height: inherit;
        width: 100%;
      }
      span {
        position: relative;
        justify-self: flex-end;
        text-transform: uppercase;
        font-size: clamp(5em, 10vw + 4em, 22em);
        writing-mode: vertical-lr;
        margin-inline-start: 0em;
        height: inherit;
        overflow: hidden;
        height: 100%;
      }
      #circle {
        background: yellow;
        height: 250px;
        width: 250px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        left: 70%;
        top: 30%;
      }
    </style>
  </body>
</html>
