---
import { BaseLayout } from "../../components/base-layout/BaseLayout";
import { ProjectList } from "../../components/project-list/ProjectList";
---

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./src/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <BaseLayout client:visible>
      <ProjectList slot="main-content" client:load />
    </BaseLayout>
  </body>
</html>
