---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { ProjectList } from "../../components/project-list/ProjectList";
import BaseHead from "../../layouts/BaseHead.astro";
---

<html>
  <head>
    <BaseHead title="Projects – Dan Engel">
      <link rel="stylesheet" href="../../src/styles/index.css" slot="styles" />
    </BaseHead>
  </head>
  <body>
    <BaseLayout>
      <ProjectList slot="main-content" client:load />
    </BaseLayout>
  </body>
</html>
